<p id="notice"><%= params[:notice] %></p>

<h1>Menu Items</h1>

<table>
  <thead>
    <tr>
      <th>Menu</th>
      <th>Menu item name</th>
      <th>Menu item price</th>
      <% if @current_user.role == "owner" %>
        <th colspan="3" class="MenuItemTable-column5Header">Options</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @menu_items.each do |menu_item| %>
      <tr>
        <td><%= menu_item.menu_id %></td>
        <td><%= menu_item.menu_item_name %></td>
        <td><%= menu_item.menu_item_price %></td>
        <% if @current_user.role == "owner" %>
          <td class="MenuItemTable-tableValue"><%= link_to "Show", menu_item %></td>
          <td class="MenuItemTable-tableValue"><%= link_to "Edit", edit_menu_item_path(menu_item) %></td>
          <td class="MenuItemTable-tableValue"><%= link_to "Destroy", menu_item, method: :delete, data: { confirm: "Are you sure?" } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @current_user.role == "owner" %>
<h3 class="MenuItemHeader-title"> Select Menu </h3>
<%= render partial: "_select-menu", locals: {
             menu_id: @current_menu_id,
           } %>
<p class="MenuItemHeader-newMenuItemLink">
  <%= link_to "New Menu Item", new_menu_item_path(:current_menu_id => @current_menu_id) %>
</p>
<% end %>
