<section class="NewUserPage">
  <h1 class="NewUserPage-title">Sign up here!</h1>

  <section class="NewUserForm">
    <%= image_tag ("login_background.jpg") %>

    <%= form_with url: users_path do |form| %>
      <div class="NewUserForm-field">
        <p class="NewUserForm-fieldTitle">First Name</p>
        <%= form.text_field :first_name, class: "NewUserForm-firstNameInput" %>
      </div>
      <div class="NewUserForm-field">
        <p class="NewUserForm-fieldTitle">Last Name</p>
        <%= form.text_field :last_name, class: "NewUserForm-lastNameInput" %>
      </div>
      <div class="NewUserForm-field">
        <p class="NewUserForm-fieldTitle">Email</p>
        <%= form.email_field :email, class: "NewUserForm-emailInput" %>
      </div>
      <div class="NewUserForm-field">
        <p class="NewUserForm-fieldTitle">Password</p>
        <%= form.password_field :password, class: "NewUserForm-passwordInput" %>
      </div>
      <%= form.submit "I'm done!", class: "NewUserForm-submitButton" %>
      <%= hidden_field_tag "role", "customer" %>
    <% end %>
  </section>

<section>
