<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Delivered at</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.user.first_name + " " + order.user.last_name %></td>
        <td><%= order.date %></td>
        <td><%= order.delivered_at %></td>
        <td><%= order.status %></td>
        <% if (not(@current_user.role == "customer")) and @your_order %>
          <td class="OrderTable-tableValue"><%= link_to "Edit", edit_order_path(order) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Order", new_order_path %>
