<section>
  <%= form_with(model: cart, local: true) do |form| %>
    <% if cart and cart.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

        <ul>
          <% cart.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.text_field :user_id %>
    </div>

    <div>
      <%= form.text_field :menu_item_id %>
    </div>

    <div>
      <%= form.label :quantity %>
      <%= form.number_field :quantity, class: "Form-input" %>
    </div>

    <div class="CartForm-editLink">
      <%= form.label :menu_id %>
      <%= form.text_field :menu_id %>
    </div>

    <div class="CartForm-updateLink">
      <%= form.submit "Update Cart" %>
    </div>
  <% end %>
</section>
