<section class="Cart">
  <p id="notice"><%= notice %></p>

  <h1>Carts</h1>

  <table>
    <thead>
      <tr>
        <th>Menu Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th colspan=2>Options</th>
      </tr>
    </thead>

    <tbody>
      <% @cart.each do |cart| %>
        <tr>
          <td> <%= cart.menu_item.menu_item_name %> </td>
          <td> <%= cart.menu_item.menu_item_price %> </td>
          <td> <%= cart.quantity %> </td>
          <td><%= link_to "Edit", edit_cart_path(cart) %></td>
          <td><%= link_to "Remove", cart, method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div>
      <%= form_with url: orders_path do |form| %>
          <div class="Form-order">
              <%= submit_tag "Place Order", class: "Order-submit" %>
          </div>
      <% end %>
  </div>
</section>
