<p id="notice"><%= notice %></p>

<h1>Order Items</h1>

<table>
  <thead>
    <tr>
    <th>Menu item name</th>
    <th>Menu item price</th>
    <th>Quantity</th>
    <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <% @order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.menu_item_name %></td>
        <td><%= order_item.menu_item_price %></td>
        <td><%= order_item.quantity %></td>
        <td><%= order_item.total %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
