<!DOCTYPE html>
<html>
  <head>
    <title>CafeteriaManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body class="MainPage">
    <% if @current_user %>
      <p class="UserLogin-success">
        Hi <%= @current_user.first_name %>!
        <%= link_to "Sign-out", destroy_session_path, method: "delete" %>
      </p>
      <div class="NavigationBar">
        <p> <%= link_to "Home ", home_path %> </p>

        <% if @current_user.role == "owner" %>
          <p> <%= link_to "Menu", menus_path %> </p>
        <% end %>

        <p> <%= link_to "Menu items", menu_items_path %> </p>

        <p> <%= link_to "Order items", order_items_path %> </p>

        <p> <%= link_to "Order", new_order_path %> </p>

        <% if not(@current_user.role == "customer") %>
          <p> <%= link_to "Pending Orders" %> </p>
        <% end %>

        <p> <%= link_to "Your orders", yourorder_path %> </p>

        <p> <%= link_to "Cart", carts_path %> </p>

      </div>
    <% end %>

    <% if flash[:error] %>
      <p class="UserLogin-failure">
        <%= flash[:error] %>
      </p>
    <% end %>
    <%= yield %>
  </body>
</html>
